
 
<!-- <router-outlet></router-outlet> -->
<!-- <mat-card class="header">
    <img src="../../assets/images/logo.png" alt="k"/>
    <span>Book Store</span> 
    <div class="header-content-div">
       
        <form class="search-input">
            <input type="search" class="search-input-box" placeholder="search....">
        </form>
    </div>
    <div class="cart-div">
        <span class="cart-txt">Cart</span>
        <img class="cart-pic" src="../../assets/images/logo.png" alt="k"/>
        
        
    </div>
</mat-card>
<router-outlet></router-outlet> -->

<!-- shre -->
<mat-card class="header">
    <div class="header-content">
        <!-- <div class="logo-content">
            <div><img src="../../assets/openbook.png" alt="k"/></div>
            
            <div class="logo-txt">BookStore</div>
        </div> -->
        <img src="../../assets/literature.png" alt="k"/>
        <span>Book Store</span> 
        <div class="header-content-div">     
            <form class="search-input">
                <input type="search" class="search-input-box" placeholder="search....">
            </form>
        </div>
        <!-- <div class="subdiv"> -->
            <div class="cart-div">
                <span class="cart-txt">cart</span>
                <mat-icon class="icon div">add_shopping_cart</mat-icon>
            </div>
        <!-- </div> -->
    </div>
</mat-card>
<router-outlet></router-outlet>
